<app-header></app-header> 

<div class="wrapper">
    <div class="container-fluid">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h4 class="page-title m-0"></h4>
                        </div>
                    </div>      
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card m-b-30">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">List of Admin </h4>
                        <button type="button" class="btn create_admin btn-primary waves-effect waves-light">Create Admin</button>
                        <h4></h4>
                        <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Added By</th>
                                <th>Action</th>     
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>001</td>
                                <td>Xcitech</td>
                                <td>xcitech@gmail.com</td>
                                <td>Master</td>  
                                <td class="action_btn">
                                    <button type="button" class="btn btn-primary waves-effect waves-light">Edit</button>
                                    <button type="button" class="btn btn-danger waves-effect waves-light">Delete</button>
                                </td> 
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->

         <!-- end row -->

    </div> <!-- end container-fluid -->
</div>