<!-- <div class="container">
    <div class="row">
        <div class="inner-main">
            <h2 class="mb-4">User Profile</h2>
            <p><strong>Name:</strong> {{this.currentUser.name}}</p>
            <p><strong>Email:</strong> {{this.currentUser.email}}</p>
        </div>
    </div>
</div> -->

<app-header></app-header> 
<div class="account-pages">
            
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <div class="mb-5">
                        <img src="assets/images/logo_dark.png" height="32" alt="logo">
                    </div>
                    <h4 class="mt-4 text-uppercase">Let's get started with Zinzer</h4>
                    <p>If several languages coalesce the grammar of the resulting language</p>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="comming-watch text-center mb-5">
                    <div class="countdown">
                        <div>
                            <div><span>0</span><span>days</span></div>
                            <div><span>0</span><span>hours</span></div>
                        </div>
                        <div class="lj-countdown-ms">
                            <div><span>0</span><span>minutes</span></div>
                            <div><span>0</span><span>seconds</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- end row -->
    </div>
</div>
